* {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

body {
  background: #ffffff; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  color: #32325d; }
  a:hover {
    text-decoration: none;
    color: #32325d; }

button {
  outline: none;
  border: none;
  background: none; }
  button:focus-within {
    outline: none; }

.background {
  z-index: -1;
  position: absolute;
  height: 150vh;
  width: 100%;
  background: url(../img/BG.png);
  -webkit-background-size: cover;
          background-size: cover; }

header {
  padding: 30px 0;
  width: 100%; }
  header .container .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    header .container .row nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 40vw; }
      header .container .row nav ul {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        header .container .row nav ul li a {
          border: 1px solid transparent;
          padding: 10px;
          -webkit-border-radius: 10px;
                  border-radius: 10px;
          font-size: 22px;
          font-weight: bold; }
          header .container .row nav ul li a:hover {
            color: #ffffff;
            background: #845cff;
            -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.section1 .container .row {
  width: 25vw;
  height: 65vh; }
  .section1 .container .row .description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%; }
    .section1 .container .row .description h1 {
      font-weight: bold; }
    .section1 .container .row .description p {
      margin: 40px 0;
      font-size: 19px; }
    .section1 .container .row .description .buttons button {
      font-size: 18px;
      font-weight: bold;
      padding: 10px; }
      .section1 .container .row .description .buttons button:hover {
        -webkit-border-radius: 5px;
                border-radius: 5px;
        color: #ffffff;
        background: #845cff;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.section2 {
  margin: 200px 0; }
  .section2 .container .row {
    font-weight: lighter; }
    .section2 .container .row .title {
      padding-top: 60px;
      width: 40vw; }
      .section2 .container .row .title h2 {
        width: 80%;
        font-size: 38px;
        font-weight: lighter; }
      .section2 .container .row .title p {
        margin: 40px 0;
        width: 80%; }
    .section2 .container .row .items {
      background: #ffffff;
      width: 40vw;
      border: 1px solid transparent;
      -webkit-border-radius: 20px;
              border-radius: 20px; }
      .section2 .container .row .items img {
        height: 100px; }
      .section2 .container .row .items h3 {
        margin: 30px 0;
        font-weight: lighter; }
      .section2 .container .row .items p {
        width: 80%; }

.section3 .container .row .title {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .section3 .container .row .title h2 {
    font-weight: lighter; }
  .section3 .container .row .title p {
    width: 50%;
    text-align: center;
    font-weight: lighter; }

.section3 .container .row .items {
  margin: 40px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .section3 .container .row .items h3 {
    font-weight: lighter; }
  .section3 .container .row .items p {
    font-weight: lighter; }
